header {
    background: #3a80ba;
    .logo {
        color: #fff;
        box-sizing: border-box;
        padding: 13px 0px 13px 130px;
        font-size: 40px;
        max-width: 1440px;
        margin: auto;
    }
}
@media (max-width: 1440px) {
    .logo {
        padding: 13px 0 13px 10px !important;
    }
}
